{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- Hero Start -->
<div class="container-fluid bg-primary hero-header mb-5">
    <div class="container text-center">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Blog Articulos</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Blog Articles</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Hero End -->


<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-primary mb-3"><span class="fw-light text-dark">A travez de </span> Diferentes articulos</h1>
            <p class="mb-5">Encontraras diferentes herramientas para el uso de tus necesesidades como cliente para satisfacer tus necesidades</p>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="blog-item border h-100 p-4">
                    <img class="img-fluid mb-4" src="{% static 'core/img/martillo.png' %}" alt="">
                    <a href="" class="h5 lh-base d-inline-block">Es una herramienta utilizada para golpear, clavar, desclavar, empujar, calzar partes, romper o deformar objetos.</a>
                    <div class="d-flex text-black-50 mb-2">
                        <div class="pe-3">
                            <small class="fa fa-eye me-1"></small>
                            <small>9999 Views</small>
                        </div>
                        <div class="pe-3">
                            <small class="fa fa-comments me-1"></small>
                            <small>9999 Comments</small>
                            <p>
                                holaa
                            </p>
                        </div>
                    </div>
                    <p class="mb-4"> Antes de utilizar los martillos retire anillos, pulseras, reloj, entre otros.</p>
                    <a href="{% url 'product' %}" class="btn btn-outline-primary px-3">Ver ahora</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="blog-item border h-100 p-4">
                    <img class="img-fluid mb-4" src="{% static 'core/img/soldadora.jpg' %}" alt="">
                    <a href="" class="h5 lh-base d-inline-block">SOLDADORA INVERTER MMA 190A SIRIO210 STANLEY</a>
                    <div class="d-flex text-black-50 mb-2">
                        <div class="pe-3">
                            <small class="fa fa-eye me-1"></small>
                            <small>9999 Views</small>
                        </div>
                        <div class="pe-3">
                            <small class="fa fa-comments me-1"></small>
                            <small>9999 Comments</small>
                        </div>
                    </div>
                    <p class="mb-4">La máquina de soldar es una máquina que se utiliza para la fijación de materiales</p>
                    <a href="{% url 'product' %}" class="btn btn-outline-primary px-3">Ver ahora</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="blog-item border h-100 p-4">
                    <img class="img-fluid mb-4" src="{% static 'core/img/taladro.png' %}" alt="">
                    <a href="" class="h5 lh-base d-inline-block">Taladro Eléctrico 220V Bosch GBM 10 RE 600 W</a>
                    <div class="d-flex text-black-50 mb-2">
                        <div class="pe-3">
                            <small class="fa fa-eye me-1"></small>
                            <small>9999 Views</small>
                        </div>
                        <div class="pe-3">
                            <small class="fa fa-comments me-1"></small>
                            <small>9999 Comments</small>
                        </div>
                    </div>
                    <p class="mb-4">Un taladro es una herramienta eléctrica cuyo uso principal, en sus inicios, es realizar perforaciones en cualquier tipo de material.</p>
                    <a href="" class="btn btn-outline-primary px-3">Ver ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->


<!-- Newsletter Start -->
<div class="container-fluid newsletter bg-primary py-5 my-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-white mb-3"><span class="fw-light text-dark">Registrate </span> se nuestro socio</h1>
            <p class="text-white mb-4">Ofrecemos los mejores catalogos y servicios del mercado de forma responsiva y segura para los usuarios y transparentes a la hora de recomendar las mejores categorias. Tenemos los mejores catalogos y ofertas para ofrecerles. </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
                <div class="position-relative w-100 mt-3 mb-2">
                    <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                        style="height: 48px;">
                    <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                            class="fa fa-paper-plane text-white fs-4"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->
{% endblock %}