{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- Hero Start -->
<div class="container-fluid bg-primary hero-header mb-5">
    <div class="container text-center">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Testimonios</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'index' %}">Menú Principal</a></li>
                <!--<li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>-->
                <li class="breadcrumb-item text-white active" aria-current="page">Testimonios</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Hero End -->




<!-- Testimonial Start -->
<div class="container-fluid testimonial bg-primary my-5 py-5">
    <div class="container text-white py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-white mb-3">Lo Que Nuestros clientes Dijeron <span class="fw-light text-dark">Sobre Nuestros productos</span></h1>
            <p class="mb-5">Aqui algunos de los comentarios que nos han dejado nuestros clientes.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel wow fadeIn" data-wow-delay="0.1s">
                    <div class="testimonial-item text-center" data-dot="1">
                        <img class="img-fluid border p-2" src="{% static 'core/img/testimonial-1.jpg' %}" alt="">
                        <h5 class="fw-light lh-base text-white">Las ferreterías nos permiten, además de vender productos, ofrecer servicios, como reparaciones a domicilio, etc. 
                            Muchas ferreterías realizan alianzas con trabajadores especializados para ofrecer servicios a 
                            domicilio de alta calidad. Una ferretería requiere de un adecuado espacio y una buena ubicación.</h5>
                            <h5>Joquita</h5>
                        <h6 class="fw-light text-white fst-italic mb-0">Panadera</h6>
                    </div>
                    <div class="testimonial-item text-center" data-dot="2">
                        <img class="img-fluid border p-2" src="{% static 'core/img/testimonial-2.jpg' %}" alt="">
                        <h5 class="fw-light lh-base text-white">Las ferreterías nos permiten, además de vender productos, ofrecer servicios, como reparaciones a domicilio, etc. 
                            Muchas ferreterías realizan alianzas con trabajadores especializados para ofrecer servicios a 
                            domicilio de alta calidad. Una ferretería requiere de un adecuado espacio y una buena ubicación</h5>
                        <h5 class="mb-1">Rosa melo</h5>
                        <h6 class="fw-light text-white fst-italic mb-0">Abogado</h6>
                    </div>
                    <div class="testimonial-item text-center" data-dot="3">
                        <img class="img-fluid border p-2" src="{% static 'core/img/testimonial-3.jpg' %}" alt="">
                        <h5 class="fw-light lh-base text-white">Las ferreterías nos permiten, además de vender productos, ofrecer servicios, como reparaciones a domicilio, etc. 
                            Muchas ferreterías realizan alianzas con trabajadores especializados para ofrecer servicios a 
                            domicilio de alta calidad. Una ferretería requiere de un adecuado espacio y una buena ubicación</h5>
                        <h5 class="mb-1">Carlos pardo</h5>
                        <h6 class="fw-light text-white fst-italic mb-0">Mecánico</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}