{% extends 'core/administrador/base.html' %}
{% load static %}
{% block contenido %}
<!-- Responsive Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <a href="{% url 'productos' %}">
                    <div><button class="">ATRÁS</button></div>
                </a>
                <h2 class="card-title text-center text-muted">ACTUALIZAR PRODUCTO</h2>
                <br>
                {% load crispy_forms_tags %}
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form | crispy }}
                    </table>
                    <br>

                    <input class="btn btn-danger" type="reset" value="Limpiar">
                    <input class="btn btn-success" type="submit" value="Modificar">
                    <!--<a href=""><div class="badge badge-outline-danger">Limpiar</div></a>
                    <a href=""><div class="badge badge-outline-success">Guardar</div></a>-->

                </form>
                {{ msj }}
            </div>
        </div>
    </div>
</div>
<!-- Responsive Table End -->
{% endblock %}
